<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Remerciements</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 40px;
            background-color: #fdfdfd;
            color: #333;
        }
        h1 {
            color: #a66;
        }
        ul {
            list-style-type: disc;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <p>Ce site a étais concu par :</p>
    
    <p>Merci a toute les personnes qui m'on soutennue notament :</p>
    <ul>
        <li>Plague</li>
        <li>Pluto alias T1 Fake taxi ou bassirou pour ce beau dessin :</li>
        <li>et toute les personnes qui m'on donné des conseil : laurette, nolann (otem)</li>
    </ul>

</body>
</html>
